{% extends "Front.html.twig" %}

{% block title %}PartageBundle:Reclamation{% endblock %}

{% block body %}
    <h1>Welcome to the Reclamation</h1>



    {{ form(Form) }}

    {{ form_errors(Form) }}
{% endblock %}
