{% extends "Front.html.twig" %}

{% block title %}PartageBundle:Reclamation:update{% endblock %}

{% block body %}
    <h1>Welcome to the Reclamation:update page</h1>

    {{ form(Form) }}

    {{ form_errors(Form) }}

{% endblock %}
