{% extends "Front.html.twig" %}

{% block title %}PartageBundle:Commentaire{% endblock %}

{% block body %}
    <h1>Welcome to the Commentaire:update page</h1>

    {{ form(Form) }}

    {{ form_errors(Form) }}

{% endblock %}
